---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="empty panel">
  <h3>{title}</h3>
  <p>{description}</p>
</div>

<style>
  .empty {
    padding: 32px;
    text-align: center;
  }
</style>
