---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="页面不存在">
  <section class="container" style="padding: 72px 0;">
    <div class="panel" style="padding: 32px;">
      <div class="eyebrow">404</div>
      <h1>页面不存在</h1>
      <p>这个地址可能还没有内容，或者链接已经发生变化。</p>
    </div>
  </section>
</SiteLayout>
